
{% extends 'base.html.twig' %}





{% block body %}
    <h1>liste des utilisateurs</h1>

    <table class="table" border=2>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Numero_telephone</th>
                <th>Role</th>
                <th>Addresse</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.numeroTelephone }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.addresse }}</td>
                <td>{{ user.image }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}


